  
 .navbar {
   background: rgba(1, 203, 186, 0.8);
   margin-bottom: 0;
   border-radius: 0;
 }

 .secondary-nav {
   text-align: right;
   position: absolute;
   right: 1%;
   top: 7rem;
 }

 .social-media-list li {
   display: inline-block;
   white-space: normal;
   word-spacing: normal;
   width: 5rem;
   height: 5rem;
   vertical-align: middle;
   margin: 0 .5rem;
 }

 .social-media-list li .username {
   display: none;
 }

 .social-media-list li svg {
   fill: #5b93ad;
   max-width: 100%;
 }

 .social-media-list li a {
   display: block;
   padding: 1rem;
 }

 .social-media-list li a .icon {
   display: block;
 }

 .social-media-list li a:hover svg,
 .social-media-list li a:focus svg {
   fill: #01cbba;
 }

 .social-media-list li a:active svg {
   fill: #fe5234;
 }

 footer {
   background: rgba(1, 203, 186, 0.8);
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 3em;
 }

 .site-title i,
 .site-title b {
   display: inline-block;
   padding: 1.5rem 1rem;
 }

 .site-title i {
   font-size: 2em;
   background: rgba(254, 82, 52, 0.8);
   -webkit-transform: translate3d(0.25rem, 20%, 0) skewY(-10deg);
   transform: translate3d(0.25rem, 20%, 0) skewY(-10deg);
 }

 .site-title b {
   font-size: 2em;
   background: rgba(1, 203, 186, 0.8);
   -webkit-transform: translate3d(-0.25rem, 20%, 0) skewY(-10deg);
   transform: translate3d(-0.25rem, 20%, 0) skewY(-10deg);
 }

 .text-in-footer {
   font-size: 1, 2em;
   text-align: center;
 }

 .navbar-inverse .navbar-nav>li>a {
   color: black;
 }
 #zdjecie {
  width:155px;
  height:200px;
  border-radius: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
